@page "/wedding-2023"
@inject NavigationManager NavigationManager

<div class="flex flex-col items-center h-screen -m-4 lg:p-4" data-theme="pastel">
    <Card class="bg-base-100 shadow-2xl swap-off md:w-96">
        <div class="carousel w-full rounded-t-xl">
            <div id="slide1" class="carousel-item relative w-full">
                <img src="./images/wedding/wedding01.jpg" class="object-cover" />
                <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="wedding-2023#slide4" class="btn btn-circle opacity-0 lg:opacity-50" target="_top">❮</a>
                    <a href="wedding-2023#slide2" class="btn btn-circle opacity-0 lg:opacity-50" target="_top">❯</a>
                    @*<a href="@($"{NavigationManager.Uri}#slide2")" class="btn btn-circle">❯</a>*@
                </div>
            </div>
            <div id="slide2" class="carousel-item relative w-full">
                <img src="./images/wedding/wedding02.jpg" class="object-cover" />
                <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="wedding-2023#slide1" class="btn btn-circle opacity-0 lg:opacity-50" target="_top">❮</a>
                    <a href="wedding-2023#slide3" class="btn btn-circle opacity-0 lg:opacity-50" target="_top">❯</a>
                </div>
            </div>
            <div id="slide3" class="carousel-item relative w-full">
                <img src="./images/wedding/wedding03.jpg" class="object-cover" />
                <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="wedding-2023#slide2" class="btn btn-circle opacity-0 lg:opacity-50" target="_top">❮</a>
                    <a href="wedding-2023#slide4" class="btn btn-circle opacity-0 lg:opacity-50" target="_top">❯</a>
                </div>
            </div>
            <div id="slide4" class="carousel-item relative w-full">
                <img src="./images/wedding/wedding04.jpg" class="object-cover" />
                <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
                    <a href="wedding-2023#slide3" class="btn btn-circle opacity-0 lg:opacity-50" target="_top">❮</a>
                    <a href="wedding-2023#slide1" class="btn btn-circle opacity-0 lg:opacity-50" target="_top">❯</a>
                </div>
            </div>
        </div>
        @*<div class="px-10 pt-10">
            <div class="flex justify-center h-80">
                <div class="carousel carousel-center rounded-box">
                    @for (var i = 0; i < 5; i++)
                    {
                        <div class="carousel-item">
                            <img src="https://picsum.photos/340/400" class="rounded-box" />
                        </div>
                    }
                </div>
            </div>
        </div>*@
        @*<img src="./images/gifts/dea_nov_nameday_2022.png" alt="Shoes" class="rounded-xl max-h-80" />*@
        <CardBody>

            <div class="flex flex-col justify-center items-start md:items-center">
                <Heading Size="HeadingSize.H1">
                    @Translations.GetValue(Translations.Keys.Invitation.Title, LanguageCode)
                </Heading>
                <Paragraph class="text-start md:text-center">
                    @Translations.GetValue(Translations.Keys.Invitation.Description, LanguageCode)
                </Paragraph>
            </div>
            <CardActions Justify="Justify.None" class="justify-start md:justify-center mb-4">
                <Button Color="ButtonColor.None" Clicked="ToggleModal">
                    @Translations.GetValue(Translations.Keys.Invitation.Schedule, LanguageCode)
                </Button>
                <a class="btn btn-primary gap-2" href="https://www.lillahanoi.com/" target="_blank">
                    @Translations.GetValue(Translations.Keys.Invitation.Restaurant, LanguageCode)
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                        <path fill-rule="evenodd"
                              d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5z"
                              clip-rule="evenodd" />
                        <path fill-rule="evenodd"
                              d="M6.194 12.753a.75.75 0 001.06.053L16.5 4.44v2.81a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75h-4.5a.75.75 0 000 1.5h2.553l-9.056 8.194a.75.75 0 00-.053 1.06z"
                              clip-rule="evenodd" />
                    </svg>
                </a>
            </CardActions>
            @*<small class="text-accent absolute right-0 bottom-0 p-1">*Endast förslag på restaurang och film</small>*@
        </CardBody>
    </Card>

    <Modal @ref="modal" class="modal-bottom sm:modal-middle">
        <ModalBody class="h-full">
            <Heading Size="HeadingSize.H2">@Translations.GetValue(Translations.Keys.Invitation.Schedule, LanguageCode)</Heading>
            <Paragraph>You've been selected for a chance to get one year of subscription to use Wikipedia for free!</Paragraph>
        </ModalBody>
    </Modal>
</div>


@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "lang")]
    public string LanguageCode { get; set; }

    private Modal modal;

    private void ToggleModal() => modal.Toggle();
}